.box{
    border: 2px solid rgb(182, 182, 222) ;
    margin: 30px;
    width: 600px;
    text-align:right;
    padding-top: 10px;
}
.box1{
    text-align: center;
}

.box-part{
    border: 2px solid rgb(162, 133, 133);
    margin: 50px;
    width: 500px;
    height: 360px;
    padding-top: 20px;
    
}
.image{
    float: left;
    width: 80px;
    margin: 20px;
}
label{
    width: 100px;
    display: inline-block;
    margin: 7px;
}
form{
    margin-top: 7px;
    justify-content: right;
    margin-right: 20px; 
}
